.container {
    width: 400px;
    margin: 100px auto;
    box-shadow: 1px 1px 5px var(--shadow-color);
    padding: 10px 20px;
    border-radius: 10px;
}

.title {
    text-align: center;
}

.form {
    padding: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-size: 22px;
}

.form input {
    display: block;
    margin-bottom: 15px;
    font-size: 17px;
    width: calc(100% - 15px);
    padding: 5px;
    color: var(--form-text-color);
    box-shadow: inset 1px 1px 3px var(--shadow-color);
    border: 0;
    border-radius: 5px;
}

.button {
    text-align: center;
}

.button button {
    margin: 10px 25%;
    font-size: 1.3rem;
    border: 0;
    width: 50%;
    background-color: var(--primary-color);
    color: var(--light-color);
    height: 42px;
    border-radius: 4px;
}

.button button:hover {
    cursor: pointer;
}