<div class="container">
    <div class="title">
        <h1>Se connecter</h1>
    </div>
    <hr />
    <div class="form">
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <div class="input">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" formControlName="username" required>
            </div>
            <div class="input">
                <label for="password">Mot de passe</label>
                <input type="password" formControlName="password" required>
            </div>
            <div class="button">
                <button type="submit" [disabled]="signinForm.invalid">Envoyer</button>
            </div>
        </form>
    </div>
    <div class="link">
        <a routerLink="/register">Créer un compte</a>
    </div>
</div>